<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>grizzly-store-vendor-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.pack.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.pack.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListproductController</servlet-name>
    <servlet-class>com.pack.controller.ListproductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListproductController</servlet-name>
    <url-pattern>/ListproductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddproductController</servlet-name>
    <servlet-class>com.pack.controller.AddproductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddproductController</servlet-name>
    <url-pattern>/AddproductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveproductController</servlet-name>
    <servlet-class>com.pack.controller.RemoveproductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveproductController</servlet-name>
    <url-pattern>/RemoveproductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewproductController</servlet-name>
    <servlet-class>com.pack.controller.ViewproductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewproductController</servlet-name>
    <url-pattern>/ViewproductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListvendorsController</servlet-name>
    <servlet-class>com.pack.controller.ListvendorsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListvendorsController</servlet-name>
    <url-pattern>/ListvendorsController</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ModifyquantityController</servlet-name>
  <servlet-class>com.pack.controller.ModifyquantityController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ModifyquantityController</servlet-name>
  <url-pattern>/ModifyquantityController</url-pattern>
  </servlet-mapping>
</web-app>